@media (max-width:1280px) {
    body{
        padding: 0 40px
    }

}
@media(max-width:768px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
    .content .description .text.selected{
        width: 60%;
        text-align: center;
    }
}
@media (max-width:425px){
    .content .logo{
    max-width: 300px;
    }
    .content .description{
        width: 100%;
    }
    .social-media{
        position: static;
        min-height: auto;
        width: 100%;
        margin: 50px;
    }
    .social-media ul {
        flex-direction: row;
    }

    .content{
        min-height: 70vh;
        gap: 50px;
    }
    
}